* {
	box-sizing: border-box;
	background-color: black;
}

.container {
	width: 100%;
}

.game-wrapper {
	margin: 0 auto;
	width: 520px;
}

.box {
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	height: 400px;
	width: 260px;
	border-style: dotted;
	border-color: white;
	color: white;
	float: left;
}

#main-image {
	background-image: url("../images/strangerthingsposter.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	height: 480px;
	width: 960px;
}

#second-image {
	height: 190px;
	width: 240px;
	padding: 20px;
	margin-left: 5px;
}

p {
	margin-top: 20px;
	font-family: 'Orbitron', sans-serif;
}
